<ion-view>
	<ion-content style="background-image:url(img/bg2.jpg);background-size:cover;">
	<div class="titlemy"><h1>牧群管理系统</h1></div> 
    <div style="margin-top: 100px;">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="ion-android-person"></i>
          <input type="text" placeholder="用户名" ng-model="user.loginName">
        </label>
        <label class="item item-input">
        	<i class="ion-locked"></i>
          <input type="password" placeholder="密码" ng-model="user.password" >
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-balanced"  ng-click="login()">登录</button>
      </div>
    </div>
	</ion-content>
</ion-view>