<ion-header-bar class="bar-balanced">
	<h1 class="title">个人中心</h1>
</ion-header-bar>
<ion-view>
	<ion-content>	
		<div class="qd">
		<button ng-click="qd()" class="button button-small button-outline button-balanced">签到</button>
		</div>
		<div class="list padding">
			<a class="item item-icon-left item-icon-right" href="#/changePass">
				<i class="icon ion-wrench"></i>修改密码
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		
		 <button class="button button-full button-balanced"
		 	ng-click="logout()" style="margin-top:70px;">
		 	退出登录</button>
		
		
	</ion-content>
</ion-view>
