<ion-header-bar class="bar-balanced">
	<h1 class="title">羊群监控</h1>
	<div class="buttons">
		<div class="button" ng-click="gopage('addressList')"><i class="ion-arrow-swap">切换至列表</i></div>
	</div>
</ion-header-bar>
<ion-view>
	<ion-content>
		<img ng-repeat="item in addPingmlist" style="position:absolute;left:{{item.xcoord}};top:{{item.ycoord}} ;"
			src="img/yang.png"/>
			<!--<img style="position:absolute;left:{{item.xcoord}} ;top:{{item.ycoord}} ;" src="img/yang.png"/>-->
			
	</ion-content>
</ion-view>