<ion-header-bar class="bar-balanced">
	<div class="buttons backicon" ng-click="backlast()">
		<i class="ion-ios-arrow-back"></i>
	</div>
	<h1 class="title">定位查询</h1>
</ion-header-bar>
<ion-view>
	<ion-content>	
		
		<div class="list">
			<div class="item myaddli" ng-repeat="x in addlist">
				<div><span>设备编号:</span>{{x.deviceId}}</div>	
				<div><span>信号强度:</span>{{x.csq}}</div>
				<div><span>体温:</span>{{x.bodyTem}}</div>
				<div><span>经度:</span>{{x.longitude}}<span style="padding-left:20px;">维度:</span>{{x.latitude}}</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>